.mainLayout {
  display: grid;
  grid-template-rows: var(--header-height) calc(100vh - 4rem);
  overflow: hidden;
}

.headerContainer {
  overflow: hidden;
}

.contentContainer {
  padding: 0.5rem;
  overflow: hidden;
  height: 100%;
  position: relative;
}
